.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.activities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 30px;
}